.bottom-header-container{
    padding-top: 30px;
    margin-top: 30px;
}

.bottom-image{
    display: block;
    margin: auto;
}

.bottom-text-container{
    margin-top: 30px;
    color: #31708f;
}

.bottom-text-container a:link{
    color: #6666CC;
}

.bottom-text-container a:hover{
    color: #0099FF;
}

.bottom-text-container h4{
    margin-bottom: 15px;
}

.bottom-column{
    z-index: 0;
}