.page-title{
    margin: 40px 0;
}

.ul-formatting{
    margin-left: 30px;
    list-style-type: none;
}

.ul-formatting li::before{
    content: "• ";
    color: #0099FF;
}

.fa {
    color: #0099FF;
}

input{
    border-bottom: 1px solid #0099FF!important;
    padding-bottom: 20px!important;
}

textarea{
    border-bottom: 1px solid #0099FF!important;
}

#send-mail{
    background-color: #0099FF!important;
}

.mapClass{
    width: 100%;
    height: 300px;
    padding: 0;
    box-shadow: 0 0 5px 5px #0099FF;
}

.banner-immage{
    display: block;
}

.logo-immage{
    width: 100px;
    float: right;
}