.full-width{
    width: 100%;
}

.color-magenta-white{
    background-color: #6666CC!important;
    color: #FFFFFF!important;
}

.gray-text{
    color: #808080;
}

.philosopher-font{
    font-family: Philosopher, sans-serif;
}

.open-font{
    font-family: Open Sans, sans-serif;
}

.font-x-large{
    font-size: x-large;
}

.font-large{
    font-size: large;
}

.font-medium{
    font-size: medium;
}

.zero-padding{
    padding: 0;
}

.auto-margin{
    margin: auto;
}

.porpora-text{
    color: #6666CC;
}

.center-text{
    text-align: center;
}

.blue-text{
    color: #0099FF;
}

.magenta-text{
    color: #6666CC;
}

.orange-text{
    color: #FF5733;
}

.horizontal-line{
    margin-top: 0;
    background-color: #0099FF;
}

.bold-text{
    font-weight: bold;
}

.blue-border{
    border: 2px solid #0099FF;
}

.prevent-pointer{
    pointer-events: none;
}

.no-shadow{
    box-shadow: none;
}

.bottom-border{
    border-bottom: 1px solid #0099FF;
}

.margin-20-bottom{
    margin-bottom: 20px;
}

.position-absolute{
    position: absolute;
}