.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header{
    margin-top: 85px;
    background: url("../img/default/background.jpg");
}


.top-header{
    background: #ffffff;
}

.email{
    color: #6666CC;
}

.line-height-1{
    line-height: 1;
}

.banner-text{
    padding-top: 15px;
}

.banner-name{
    font-weight: bold;
    font-size: 80px;
}