.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header{
    padding-top: 82px;
    background: url("../img/default/banner.png");
}


.top-header{
    background: #ffffff;
    z-index: 100;
}

.email{
    color: #6666CC;
}

.line-height-1{
    line-height: 1;
}

.banner-text{
    padding-top: 0;
}

.banner-name{
    font-weight: bold;
    font-size: 70px;
}

#cloud{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-bottom: 1px solid #0099FF;
    border-top: 1px solid #0099FF;
    border-radius: 100px;
    font-family: "Bree Serif", serif;
}

.botom-footer{
    margin-top: 10px;
    padding: 10px 0;
    border-top: 2px solid #0099FF;
}

#main-container{
    margin-top: 50px;
}

.share-home-button{
    width: 106px;
    margin: 3px auto;
    background-color: #4080FF;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.share-home-button a{
    color: #ffffff;
}