@media (min-width: 992px) and (max-width: 1200px){
    .small-banner{
        font-size: small;
    }

    header{
        padding-top: 78px;
    }

    #fast-contact{
        font-size: medium;
    }

    #cloud{
        font-size: xx-small;
    }

    .bottom-text-container{
        font-size: smaller;
    }

    .font-x-large{
        font-size: large;
    }

    .bottom-image{
        padding: 0 45px;
    }

    .cd-testimonials p{
        line-height: 1.4;
        font-size: 1.0rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    header{
        padding-top: 49px;
    }

    .logo-immage{
        padding: 10px;
    }

    .right-col-profile-image, #cloud, .top-header, .social-container{
        display: none;
    }

    .cd-testimonials p{
        line-height: 1.4;
        font-size: 1.2rem;
    }

    .top-menu-item{
        font-size: small;
    }

    .bottom-image{
        padding: 0 45px;
    }

    .bottom-text-container{
        font-size: smaller;
    }

    .font-x-large{
        font-size: large;
    }

    .email{
        font-size: x-small;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    header{
        padding-top: 58px;
    }

    .menu-collapse-button-immage{
        width: 40px;
    }

    .collapse.show{
        display: inherit;
    }

    .top-menu-list{
        border-bottom: 0;
        border-radius: 0;
    }

    .banner-text{
        margin: auto;
    }

    .right-col-profile-image, #cloud, .top-header, .small-text-banner, .facebook, .bottom-header-container{
        display: none;
    }

    .banner-name{
        font-size: 55px;
    }
}

@media (min-width: 399px) and (max-width: 575px) {
    .right-col-profile-image, #cloud, .top-header, .small-text-banner, .facebook, .bottom-header-container, .text-lg-right{
        display: none;
    }

    .menu-collapse-button-immage{
        width: 40px;
    }

    .collapse.show{
        display: inherit;
    }

    .top-menu-list{
        border-bottom: 0;
        border-radius: 0;
    }

    .banner-immage{
        display: none;
    }

    .banner-name{
        font-size: 55px;
    }

    .banner-text{
        margin: auto;
    }

}

@media (max-width: 398px) {
    .right-col-profile-image, #cloud, .top-header, .small-text-banner, .facebook, .bottom-header-container, .text-lg-right{
        display: none;
    }

    .menu-collapse-button-immage{
        width: 40px;
    }

    .collapse.show{
        display: inherit;
    }

    .top-menu-list{
        border-bottom: 0;
        border-radius: 0;
    }

    .banner-immage{
        display: none;
    }

    .banner-text{
        margin: auto;
    }

    .banner-name{
        font-size: 45px;
    }

    .menu-content-element{
        font-size: initial;
    }
}