@media (min-width: 1201px) and (max-width: 2048px) {
    .small-banner {
        font-size: small;
    }

    .top-menu-list a {
        padding: 8px 0 6px 0;
    }

    #carusel-column {
        padding-right: 40px;
    }

    .right-col-profile-image {
        width: 230px;
        display: block;
        margin: auto;
    }

    #main-right-column {
        padding-left: 30px;
    }

    .right-col-profile-image-footer p {
        font-size: medium;
    }

    .fb-share-button{
        width: 200px!important;
        font-size: large!important;
    }

    .fast-contact {
        font-size: medium;
    }

    .bottom-image-container {
        padding: 0 70px 0 70px;
    }

    .bottom-text-container .font-x-large {
        font-size: large;
    }

    .bottom-text-container p {
        font-size: small;
    }

    .botom-footer p {
        font-size: small;
    }

    #left-column{
        padding: 0 150px 150px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .small-banner{
        font-size: small;
    }

    header{
        padding-top: 78px;
    }

    #fast-contact{
        font-size: medium;
    }

    #cloud{
        font-size: xx-small;
    }

    .bottom-text-container{
        font-size: smaller;
    }

    .font-x-large{
        font-size: large;
    }

    .bottom-image{
        padding: 0 45px;
    }

    .cd-testimonials p{
        line-height: 1.4;
        font-size: 1.0rem;
    }

    .title{
        font-size: 40px!important;
    }

    .subtitle{
        font-size: 22px!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    header{
        padding-top: 49px;
    }

    .right-col-profile-image, #cloud, .top-header, .social-container{
        display: none;
    }

    .cd-testimonials p{
        line-height: 1.4;
        font-size: 1.2rem;
    }

    .top-menu-item{
        font-size: small;
    }

    .bottom-image{
        padding: 0 45px;
    }

    .bottom-text-container{
        font-size: smaller;
    }

    .font-x-large{
        font-size: large;
    }

    .email{
        font-size: x-small;
    }

    .title{
        font-size: 35px!important;
    }

    .subtitle{
        font-size: 20px!important;
    }

    .fit-content{
        width: fit-content!important;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    header{
        padding-top: 58px;
    }

    #carusel-column{
        padding: 0;
    }

    .menu-collapse-button-immage{
        width: 40px;
    }

    .collapse.show{
        display: inherit;
    }

    .top-menu-list{
        border-bottom: 0;
        border-radius: 0;
    }

    .banner-text{
        margin: auto;
    }

    .right-col-profile-image, #cloud, .top-header, .small-text-banner, .facebook, .bottom-header-container{
        display: none;
    }

    .banner-name{
        font-size: 55px;
    }

    .title{
        font-size: 35px!important;
    }

    .subtitle{
        font-size: 20px!important;
    }

    .logo-immage{
        width: 80px;
    }

    .botom-footer{
        font-size: small;
    }
}

@media (min-width: 399px) and (max-width: 575px) {
    header{
        padding-top: 45px;
    }

    #carusel-column{
        padding: 0;
    }

    .right-col-profile-image, #cloud, .top-header, .small-text-banner, .facebook, .bottom-header-container,
    #article-immage-column, #article-logo{
        display: none;
    }

    .menu-collapse-button-immage{
        width: 40px;
    }

    .collapse.show{
        display: inherit;
    }

    .top-menu-list{
        border-bottom: 0;
        border-radius: 0;
    }

    .banner-immage{
        display: none;
    }

    .banner-name{
        font-size: 55px;
    }

    .container{
        width: auto!important;
    }

    .banner-name p{
        text-align: center;
    }

    .banner-text{
        margin: auto;
        padding-top: 10px;
    }

    .title{
        font-size: 24px!important;
    }

    .subtitle{
        font-size: 20px!important;
    }

    #main-container{
        margin-top: 30px;
    }

    .margin-0-left{
        margin: auto;
    }

    .text-lg-right{
        font-size: medium;
    }

    .botom-footer{
        font-size: small;
    }
}

@media (max-width: 398px) {
    header{
        padding-top: 45px;
    }

    #carusel-column{
        padding: 0;
    }

    .right-col-profile-image, #cloud, .top-header, .small-text-banner, .facebook, .bottom-header-container, .text-lg-right,
    #article-immage-column, #article-logo{
        display: none;
    }

    .menu-collapse-button-immage{
        width: 40px;
    }

    .collapse.show{
        display: inherit;
    }

    .top-menu-list{
        border-bottom: 0;
        border-radius: 0;
    }

    .banner-immage{
        display: none;
    }

    .banner-text{
        margin: auto;
        padding-top: 10px;
    }

    .banner-name{
        font-size: 45px;
    }

    .menu-content-element{
        font-size: initial;
    }

    .title{
        font-size: 24px!important;
    }

    .subtitle{
        font-size: 20px!important;
    }

    #main-container{
        margin-top: 30px;
    }

    .botom-footer{
        font-size: x-small;
    }
}